@import "compass"

$red: #F55B5B

body
	font-family: 'Karla', sans-serif
	font-size: 125%
	margin: 0
	padding: 0

.header
	background: url(../images/hux.jpg)
	background-size: cover
	background-repeat: no-repeat
	position: relative

	&:before
		content: ''
		display: block
		width: 100%
		height: 100%
		background: rgba(42, 92, 233, .8)
		position: absolute

	h1
		text-align: center
		vertical-align: middle
		position: relative
		z-index: 1
		color: #fff
		padding: 34.18% 1rem
		margin: 0
		font-size: 1.8em

.banner-bar
	background: $red
	color: #fff
	padding: 1rem
	text-align: center

	p
		margin: 0
		padding: 0

	.left
		display: none

	.right
		font-size: .8em

.what-is-this
	padding: 0 1em
	text-align: center

	h2
		color: $red

	p
		font-size: .85em
		line-height: 1.5
		color: #848484

.phone
	width: 255px
	height: 509px
	margin: 1em auto
	background: url(../images/phone.jpg)
	background-size: 100% auto

.footer
	padding: 1rem
	background: #2C5CE9
	color: #fff
	text-align: center
	text-transform: uppercase
	letter-spacing: 3px

	h3
		font-weight: 400
		font-size: .6em

	.copy
		font-size: .5em

	.signup
		padding: 1em

	=form-styles
		font-size: .5em
		background: none
		padding: 1.25em
		color: #fff
		border: 1px solid #fff
		border-radius: 6px
		letter-spacing: 2px
		outline: none
		text-transform: uppercase

	.get-email
		+form-styles

		+input-placeholder
			color: #eee

	.send-email
		+form-styles
		
		
		

@media (min-width: 40em) 
	.header h1
		padding: 16.65625rem 1rem
